@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2079 0.0399 265.7275);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2079 0.0399 265.7275);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2079 0.0399 265.7275);
    --primary: oklch(0.7269 0.1589 55.1772);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9684 0.0068 247.8951);
    --secondary-foreground: oklch(0.2079 0.0399 265.7275);
    --muted: oklch(0.9684 0.0068 247.8951);
    --muted-foreground: oklch(0.5547 0.0407 257.4404);
    --accent: oklch(0.9684 0.0068 247.8951);
    --accent-foreground: oklch(0.2079 0.0399 265.7275);
    --success: oklch(0.6 0.15 142.5);
    --success-foreground: oklch(1 0 0);
    --warning: oklch(0.8 0.2 78.5);
    --warning-foreground: oklch(1 0 0);
    --destructive: oklch(0.628 0.2577 29.2339);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.929 0.0126 255.5317);
    --input: oklch(0.929 0.0126 255.5317);
    --ring: oklch(0.7269 0.1589 55.1772);
    --chart-1: oklch(0.6517 0.2005 33.2043);
    --chart-2: oklch(0.7429 0.1546 60.5517);
    --chart-3: oklch(0.8625 0.1657 96.9463);
    --chart-4: oklch(0.9036 0.2005 119.2927);
    --chart-5: oklch(0.8651 0.2297 133.4195);
    --sidebar: oklch(0.9848 0 0);
    --sidebar-foreground: oklch(0.2079 0.0399 265.7275);
    --sidebar-primary: oklch(0.7269 0.1589 55.1772);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9684 0.0068 247.8951);
    --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
    --sidebar-border: oklch(0.929 0.0126 255.5317);
    --sidebar-ring: oklch(0.7269 0.1589 55.1772);
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(222.2 47.4% 11.2%);
    --shadow-2xs: 0px 4px 10px 0px hsl(222.2 47.4% 11.2% / 0.05);
    --shadow-xs: 0px 4px 10px 0px hsl(222.2 47.4% 11.2% / 0.05);
    --shadow-sm:
        0px 4px 10px 0px hsl(222.2 47.4% 11.2% / 0.1),
        0px 1px 2px -1px hsl(222.2 47.4% 11.2% / 0.1);
    --shadow:
        0px 4px 10px 0px hsl(222.2 47.4% 11.2% / 0.1),
        0px 1px 2px -1px hsl(222.2 47.4% 11.2% / 0.1);
    --shadow-md:
        0px 4px 10px 0px hsl(222.2 47.4% 11.2% / 0.1),
        0px 2px 4px -1px hsl(222.2 47.4% 11.2% / 0.1);
    --shadow-lg:
        0px 4px 10px 0px hsl(222.2 47.4% 11.2% / 0.1),
        0px 4px 6px -1px hsl(222.2 47.4% 11.2% / 0.1);
    --shadow-xl:
        0px 4px 10px 0px hsl(222.2 47.4% 11.2% / 0.1),
        0px 8px 10px -1px hsl(222.2 47.4% 11.2% / 0.1);
    --shadow-2xl: 0px 4px 10px 0px hsl(222.2 47.4% 11.2% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2079 0.0399 265.7275);
    --foreground: oklch(0.9838 0.0035 247.8583);
    --card: oklch(0.2079 0.0399 265.7275);
    --card-foreground: oklch(0.9838 0.0035 247.8583);
    --popover: oklch(0.2079 0.0399 265.7275);
    --popover-foreground: oklch(0.9838 0.0035 247.8583);
    --primary: oklch(0.7269 0.1589 55.1772);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.28 0.0369 259.974);
    --secondary-foreground: oklch(0.9838 0.0035 247.8583);
    --muted: oklch(0.28 0.0369 259.974);
    --muted-foreground: oklch(0.7097 0.0355 256.7889);
    --accent: oklch(0.28 0.0369 259.974);
    --accent-foreground: oklch(0.9838 0.0035 247.8583);
    --success: oklch(0.6 0.15 142.5);
    --success-foreground: oklch(1 0 0);
    --warning: oklch(0.8 0.2 78.5);
    --warning-foreground: oklch(1 0 0);
    --destructive: oklch(0.3959 0.1331 25.7205);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3722 0.054 259.9287);
    --input: oklch(0.3722 0.054 259.9287);
    --ring: oklch(0.7269 0.1589 55.1772);
    --chart-1: oklch(0.6517 0.2005 33.2043);
    --chart-2: oklch(0.7429 0.1546 60.5517);
    --chart-3: oklch(0.8625 0.1657 96.9463);
    --chart-4: oklch(0.9036 0.2005 119.2927);
    --chart-5: oklch(0.8651 0.2297 133.4195);
    --sidebar: oklch(0.2079 0.0399 265.7275);
    --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
    --sidebar-primary: oklch(0.7269 0.1589 55.1772);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.28 0.0369 259.974);
    --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
    --sidebar-border: oklch(0.3722 0.054 259.9287);
    --sidebar-ring: oklch(0.7269 0.1589 55.1772);
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(210 40% 98%);
    --shadow-2xs: 0px 4px 10px 0px hsl(210 40% 98% / 0.05);
    --shadow-xs: 0px 4px 10px 0px hsl(210 40% 98% / 0.05);
    --shadow-sm:
        0px 4px 10px 0px hsl(210 40% 98% / 0.1),
        0px 1px 2px -1px hsl(210 40% 98% / 0.1);
    --shadow:
        0px 4px 10px 0px hsl(210 40% 98% / 0.1),
        0px 1px 2px -1px hsl(210 40% 98% / 0.1);
    --shadow-md:
        0px 4px 10px 0px hsl(210 40% 98% / 0.1),
        0px 2px 4px -1px hsl(210 40% 98% / 0.1);
    --shadow-lg:
        0px 4px 10px 0px hsl(210 40% 98% / 0.1),
        0px 4px 6px -1px hsl(210 40% 98% / 0.1);
    --shadow-xl:
        0px 4px 10px 0px hsl(210 40% 98% / 0.1),
        0px 8px 10px -1px hsl(210 40% 98% / 0.1);
    --shadow-2xl: 0px 4px 10px 0px hsl(210 40% 98% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
